node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local

# Native folders (managed by EAS)
android/
ios/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
